<div id="navbar-example">
  <div class="container-fluid">
    <ul class="nav nav-pills navbar-fixed-top">
        <li class="dropdown navbar-right">
          <a class="dropdown-toggle" data-toggle="dropdown">Suspects</a>
           <ul class="dropdown-menu">
             <a class="dropdown-item" href="#drew">Drew Anderson</a>
             <a class="dropdown-item" href="#marissa">Marissa Foster</a>
             <a class="dropdown-item" href="#stewart">President Stewart</a>
             <a class="dropdown-item" href="#stan">Stan Boyle</a><br/>
             <a class="dropdown-item" href="#alysha">Alysha Jones</a>
           </ul>
        </li>
      <li class="navbar-right"><a href="#author_header">Author</a></li>
      <li class="navbar-right"><a href="#breaking_header">Story</a></li>
    </ul>
  </div>
</div>
<div id="bookcover">
  <%= image_tag "newspaper.png", class: "newspaper" %>
  <h1>The Classifieds of Drew Anderson</h1>
  <%= image_tag "bookcover.jpg", class: "cover" %>
</div>
<div class="center">
  <%= link_to image_tag("kindle_button.jpg", class: "kindle"), "https://www.amazon.com/dp/B0776NTQWL", target: :_blank %>
</div>
<div id="story">
  <div id="breaking_header">
    <h1 class="break">Breaking</h1>
    <h1 class="breaking">News</h1>
    <h4>Not All Headlines Are Created Equal</h4>
  </div>
  <div id="breaking_paragraph">
    <p>After an eerie car crash, an investigation is launched into Production News that attempts to link the newspaper’s stories to similar events across the country. The investigation coupled with Production’s recent subscriber loss makes work anything but comfortable for current employees.</p>
    <p>Drew Anderson resists the panic of his fellow colleagues with blatant indifference. But when the tragic events appear to have a home in the newspaper’s classifieds section, getting the scoop means the difference between leaking the truth and advancing the alternative. Drew knows that if he can keep his eyes and ears open, he may rescue Buffalo from forever surrendering to fiction.</p>
    <span>In an age of fakes,</span>
    <p id="breaking_bold">can the truth and the front page ever be the same?</p>
  </div>
</div>
<div id="author">
  <h1 id="author_header">Meet The Author</h1>
  <div>
  <%= image_tag "lee_devier.jpg", class:"author_img" %>
  <p style="text-align: center;">Follow her on twitter: <a target="_blank" href="https://twitter.com/leedeviar?lang=en">@leedeviar</a></p>
  <p>A longtime resident of the outside, Lee Deviar writes while looking in. Originally a place of refuge, writing has transformed into an obsession to map if and where loneliness and awareness intersect. Behind each of her quests is the fireproof belief that it’s easy to think and harder to feel.</p>
  <p>For distraction, Lee listens to Kanye throwbacks, sleeps with her nightmares, and plays with metaphors while in transit.</p>
  <p>She lives in a major metropolitan city.</p>
  <span id="author_italic">The Classifieds of Drew Anderson</span>
  <span>is her first major literary work.</span></br></br>
</div>
<div id="suspects">
  <h1>Don't Believe Everything You Read</h1>
  <div id ="drew_a">
    <%= image_tag "drew.jpg", id:"drew" %>
    <h3 id="suspect_header">Drew Anderson</h3>
    <p>BACKGROUND: The quintessential apathetic, all-thrills bachelor of the New Era unimpressed by corporate commandments</p>
    <p>MOTIVE: Publish the biggest FU of news history</p>
    <p>VICE: A dying grandmother with unrealistic requests</p>
  </div>
  <div id="marissa_f">
    <%= image_tag "marisa.jpg", id:"marissa" %>
    <h3 id="suspect_header">Marissa Foster</h3>
    <p>BACKGROUND: Born into small town supremacy as the daughter of Buffalo’s Mattress King and current marketing goddess at Production News</p>
    <p>MOTIVE: A selfie, checked in @ --- the TOP (previously the Glass Ceiling)</p>
    <p>VICE: Cornell graduates layered in Patagonia i.e. ghosts of boyfriends past</p>
  </div>
  <div id="president_s">
    <%= image_tag "stewart.jpg", id:"stewart" %>
    <h3 id="suspect_header">President Stewart</h3>
    <p>BACKGROUND: Son of Jeff Stewart, the founding father of Production News, and current poster boy for Buffalo vs. the World</p>
    <p>MOTIVE: Steer Production News from becoming a 501(c)</p>
    <p>VICE: Listening to Ani Difranco in the Mighty Taco parking lot</p>
  </div>
  <div id="stan_b">
    <%= image_tag "stan.jpg", id:"stan" %>
    <h3 id="suspect_header">Stan Boyle</h3>
    <p>BACKGROUND: Buffalo’s Special Investigations wolf with an eye for Fashion Week overstock</p>
    <p>MOTIVE: Perpetuate the conspiracy heard round the world</p>
    <p>VICE: Graffiti on Reed Street</p>
  </div>
  <div id="alysha_j">
    <%= image_tag "alysha.jpg", id:"alysha" %>
    <h3 id="suspect_header">Alysha Jones</h3>
    <p>BACKGROUND: Faking it until she makes it, The News Group’s favorite hipster and top reporter</p>
    <p>MOTIVE: Write for the National Enquirer, PETA, or both</p>
    <p>VICE: Mason jar parties</p>
  </div>
  <div id="share"></div>
</div>
<script>
var breakingAnimationComplete = false;
var breakingBoldComplete = false;

function scrollEventHandler() {
  setTimeout(function() {
          $('.breaking_header, .breaking_paragraph, .break, .breaking').css("position", 'relative');
          $('.breaking').addClass('rotateRight');
          $('.break').addClass('rotateLeft');
          $('.breaking').animate({
            bottom: "-=650"
          });
          //need webkit-transform?s
          setTimeout(function() {
            $('.breaking').animate({
              bottom: "+=650"
            });
            $('.breaking').removeClass('rotateRight');
            $('.break').removeClass('rotateLeft');
          }, 3000);
  }, 1300)
}

function scrollEventHandler2() {
    $('#breaking_bold').animate({fontSize: "50px"}, "slow");
    setTimeout(function() {
      $('#breaking_bold').animate({fontSize: "16px", display: "inline-flex"}, "slow");
    }, 3000);
}

  document.addEventListener('scroll', function(e) {
    var elementIsVisible = isScrolledIntoView(document.querySelector('#breaking_header'));
    var elementIsVisible2 = isScrolledIntoView(document.querySelector('#breaking_bold'));

    if (elementIsVisible && !breakingAnimationComplete) {
      scrollEventHandler();
      breakingAnimationComplete = true;
    } else if (elementIsVisible2 && !breakingBoldComplete) {
      scrollEventHandler2();
      breakingBoldComplete = true;
    } else {

    }
  });
  // $(document).scroll(scrollEventHandler());

function isScrolledIntoView(el) {
    var elemTop = el.getBoundingClientRect().top;
    var elemBottom = el.getBoundingClientRect().bottom;
    var isVisible = (elemTop >= 0) && (elemBottom <= window.innerHeight);
    return isVisible;
}

function unbindScrollEventHandler() {
	$(document).unbind('scroll', scrollEventHandler);
}

//Function that rotates breaking news header after clicking on story
  $( "#navbar-example a[href*=breaking_header]" ).on( "click", function(event) {
    setTimeout(function() {
            $('.breaking_header, .breaking_paragraph, .break, .breaking').css("position", 'relative');
            $('.breaking').addClass('rotateRight');
            $('.break').addClass('rotateLeft');
            $('.breaking').animate({
              bottom: "-=650"
            });
            setTimeout(function() {
              $('.breaking').animate({
                bottom: "+=650"
              });
              $('.breaking').removeClass('rotateRight');
              $('.break').removeClass('rotateLeft');
            }, 3000);
    }, f)
  })
//After newspaper animation has ended, hide the newspaper png
  $(".newspaper").on("animationend webkitAnimationEnd oAnimationEnd MSAnimationEnd",
 function(e){
    $(".newspaper").css("opacity", "0");
    $(this).off(e);
 });

//Sets scrollspy target to be navbar
$('body').scrollspy({ target: '#navbar-example', offset: 50 })

// jQuery ocial media buttons via jsSocials
$("#share").jsSocials({
    url: "https://theclassifiedsofdrewanderson.herokuapp.com/#breaking_header",
    shares: ["twitter", "facebook", "pinterest"],
    shareIn: "popup",
    showLabel: true,
    showCount: true
});

//Enable smooth scrolling
$("#navbar-example a").on('click', function(event) {
  // Make sure this.hash has a value before overriding default behavior
  if (this.hash !== "") {
    // Prevent default anchor click behavior
    event.preventDefault();
    // Store hash
    var hash = this.hash;
    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 1000, function(){

    // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
    });

  } // End if

});
</script>
